h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;
}
.card {
    display: flex;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    flex: auto;
    flex-wrap: wrap;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
}
